@import 'variables';

@media screen and (max-width: 910px) {
    .logo_nav{
        width: 15%;
        img{
            width: 100%;
        }
    }   
    .burguer{
        width: 30%;
    }    
    .link_header {
        align-items: start;
    }
    .logo_footer {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .logo_nav{
        width: 30%;
    }   
    .burguer{
        width: 40%;
    }    
    footer{
        div {
            flex-direction: column;
            ul {
                li {
                    svg{
                        width: 50px;
                    }
                } 
            }
       }
    }
    .logo_footer {
        width: 70%;
    }
    .main_section {
        flex-direction: column;
        h3 {
            text-align: center;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            p {
                width: 95%;
            }
        }      
    }
    .img_mainHome, .img_logoHome {
        width: 90%;
    }
    .presentacion_membresia {
        width: 80%;
    }
    .equipo_membresia, .formaciones {
        flex-direction: column;
        div {
            width: 95%;
        }
    }
    .grilla_retiros {
        flex-direction: column;
        img {
            width: 90%;
        }
    }
}