@use 'header';
@use 'footer';
@use 'main';
@use 'media';
@import 'variables';

*{
    padding: 0;
    margin: 0;
    font-family: $secondaryFont;
    color: $fontColor_main;
}

body {
    background-color: #FFFFFF;
    background-image: linear-gradient(305deg, #FFFFFF 0%, #f4cecb 85%); 
    text-align: justify;
    h1, h2, h3 {
        text-align: center;
    }
}